.hidden {
    display: none;
}
.videoWrapper {
    position: relative;
    height: 0;
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    background: white;
    height: 100vh;
    /* max-width: 500px; */
    margin: 0 auto;
    padding: 1rem;
}